.container {
  position: relative;
}
.userGreen,
.userRed {
  display: flex;
  justify-content: space-between;
  background-color: #e36d63;
  margin: 15px 0;
  color: white;
  border-radius: 6px 0 0 6px;
  width: 120px;
  transition: 0.3s;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.userGreen {
  background-color: #95bfa9;
  color: #325c46;
}

.container:hover > .userGreen,
.container:hover > .userRed {
  width: 100% !important;
  border-radius: 6px;
}
.userProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.068);
  width: 120px;

  padding: 0 15px;
}
.avatar {
  width: 100px;
}

.level {
  margin-bottom: 30px;
}
.points {
  margin-top: 30px;
}
.level,
.points {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
  padding: 3px 5px;
  color: white;
  font-weight: bold;
  width: fit-content;
  margin: 20px auto;
  border-radius: 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
}

.information {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  min-width: 330px;
  padding: 0 10px;
}

.name {
  font-size: 30px;
  margin: 20px 0 !important;
  text-align: center;

}
.detailsGroup {
  display: flex;
  justify-content: space-between;
}
.stats {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.stats div {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  align-items: center;
}

.number {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.stateTitle {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.desc {
  background-color: white;
  width: calc(100% - 120px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
  border-radius: 0 10px 10px 0;
  padding: 0 15px;
}

.desc p {
  text-align: left;
  margin-top: 30px;
}
.more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}
